

.button-div {
    display: inline-block; /* Akna suuruse muutmisel õige skaleerimine */
    margin: 5px;
}

.nupp {
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    min-width: 120px;
    color: white;
}

.sinine { background-color: blue; color: orangered; }
.must { background-color: black; color: orangered; }
.valge { background-color: white; color: orangered; }
.kollane { background-color: greenyellow; color: orangered; }

.nupp:hover {
    background-color: mediumvioletred;
}
